{% extends "layout.html" %}

{% block content %}

    <div class="title">
        <p>MovieFlix</p>
    </div>
    <div class="subtitle">
        <p>Delete comments</p>
    </div>
    
    <br><br>

    <div class="movie-block">
        <h1>Select a comment to delete</h1>
        <center>
            <br>
            <form name="admincommentdelete" action="" method="POST">
                <center>
                <select style="width: 80%;" name="adm_com_del" id="">
                    {% for comment in comments %}
                        <option value="{{comment}}">{{comment}}</option>
                    {% endfor %}
                </select>
            
                <div class="btn-block">
                    <button style="width: 80%;" type="submit" href="/">Delete</button>
                </div>
                </center>
                
            </form>

            <hr style="width: 80%;">

            <a href="#" onclick="history.go(-1)">
                <button style="width: 70%;">Go back</button>
            </a>
        </center>
        
    </div>

{% endblock content %}