
html, body {
    justify-content: center;
    height: 100%;
    }
div, h1, h3, form, input { 
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    }
h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
h3 {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 390;
    text-align: center;
    }    
hr {
    color: #a9a9a9;
    opacity: 0.3;
    }

.title {
    font-size: 60px;
    text-align: center;
    margin-bottom: -2%;
}
.subtitle {
    font-size: 20px;
    text-align: center;
}


.main-block {
    max-width: 400px; 
    height: auto;
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
    }
form {
    margin: 0 30px;
    }
input[type=text], input[type=password] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 0;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    }
input[type=password] {
    margin-bottom: 15px;
    }
.btn-block {
    margin-top: 10px;
    text-align: center;
    }
button, input[type=submit] {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    }
button:hover {
    background: #26a9e0;
    cursor: pointer;
    }

input[type=submit]:hover {
    background: #26a9e0;
    cursor: pointer;
}

#logout:hover {
    background: red;
}

.movie-block {
    max-width: 500px; 
    height: auto;
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
    }